{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} </h3>
                <button onclick="history.back()" class="bg-gray-300 btn float-end">Back</button>
            </div>
            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="name">SN</th>
                        <th scope="col" class="sort" data-sort="name">Product</th>
                        <th scope="col" class="sort" data-sort="name">Product Category</th>
                        <th scope="col" class="sort" data-sort="budget">Number of Products</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for cart in carts %}
                    <tr>
                        <td class="budget">
                            {{forloop.counter}}
                        </td>
                        <td>
                            {{cart.product.name}} ({{cart.product.price}})
                        </td>
                        <td>
                            {{cart.product.category}}
                        </td>
                        <td>
                            {{cart.quantity}}
                        </td>
                        <td>
                            <i class="fa fa-trash-alt" type="button" data-bs-toggle="modal" href="#deleteCatModal{{cart.id}}" style="background:transparent;"></i>
                        </td>
                    </tr>
                     <!-- Modal -->
                    
                    <div class="modal fade" id="deleteCatModal{{cart.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{cart.id}}">Delete cart</h5>

                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{% url 'delete_cart' cart.id %}">Delete</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- end Model -->
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>
{% endblock content %}
