{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'choices.min.css' %}">
<div class="row">
    <div class="col">
        <div class="card ">
            <!-- Card header -->
            <div class="card-header border-0 mx-md-7 mx-lg-8 mx-3">
                <h3 class="mb-0">{{title}} </h3>
            </div>
            <!-- Light table -->
            <div class="mx-md-7 mx-lg-8 mx-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.media}}
                    {{form.as_p}}
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" onclick="history.back()" class="btn btn-gray-400">Cancel</button>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>
 <!-- Include jQuery using a CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'choices.min.js' %}"></script>


<script>
    $(document).ready(function(){

        var multipleCancelButton1 = new Choices('#id_category', {
            removeItemButton: true,
            renderChoiceLimit:500
        }); 

        var multipleCancelButton1 = new Choices('#id_product', {
            removeItemButton: true,
            renderChoiceLimit:500
        });
        
    });
</script>
{% endblock content %}
