<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <a class="navbar-brand me-lg-5" href="/">
      <img class="navbar-brand-dark" src="/static/assets/img/logo.png" alt="Food Delivery logo" /> <img class="navbar-brand-light" src="/static/assets/img/logo.png" alt="Food Delivery logo" />
  </a>
  <div class="d-flex align-items-center">
      <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <div>
      <img src="/static/assets/img/stone-logo.jpg" class="image-md">
    </div>
    
    <ul class="nav flex-column pt-3 pt-md-0">

      {% if request.user.is_staff %}
      <li class="nav-item {% if request.resolver_match.view_name == 'index' %} active {% endif %}">
        <a href="{% url 'index' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-tachometer-alt"></i>
          </span>
          <span class="sidebar-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.view_name == 'users' %} active {% endif %}">
        <a href="{% url 'users' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-users"></i>
          </span>
          <span class="sidebar-text">Customers</span>
        </a>
      </li>
      
      <li class="nav-item"><!-- Separator with title --><hr class="navbar-divider"></li>
      <li class="nav-item mb-4">
        <div class="text-italic nav-title text-muted">E-Commerce</div>
      </li>

      {% comment %} <li class="nav-item {% if request.resolver_match.view_name == 'orders' %} active {% endif %}">
        <a href="{% url 'orders' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-list"></i>
          </span>
          <span class="sidebar-text">Orders</span>
        </a>
      </li>

      <li class="nav-item {% if request.resolver_match.view_name == 'transactions' %} active {% endif %}">
        <a href="{% url 'transactions' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-list"></i>
          </span>
          <span class="sidebar-text">Transactions</span>
        </a>
      </li> {% endcomment %}

      {% endif %}
    </ul>
  </div>
</nav>
