{% load static %}
<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <a class="navbar-brand me-lg-5" href="/">
      <img class="navbar-brand-dark" src="{% static "assets/img/brand/logo.png" %}" alt="ADM logo" />
      <img class="navbar-brand-light" src="{% static "assets/img/brand/logo.png" %}" alt="ADM logo" />
  </a>
  <div class="d-flex align-items-center">
      <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <div>
      <img src="{% static "assets/img/brand/logo.png" %}" class="image-md">
    </div>
    
    <ul class="nav flex-column pt-3 pt-md-0 mt-2">

      {% if request.user.is_staff %}
      <li class="nav-item {% if request.resolver_match.view_name == 'index' %} active {% endif %}">
        <a href="{% url 'index' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-tachometer-alt"></i>
          </span>
          <span class="sidebar-text">Dashboard</span>
        </a>
      </li>
      
      <li class="nav-item {% if request.resolver_match.view_name == 'users' %} active {% endif %}">
        <a href="{% url 'users' %}?rs=recharge" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-users"></i>
          </span>
          <span class="sidebar-text">Customers</span>
        </a>
      </li>
      
      {% comment %} <li class="nav-item"><!-- Separator with title --><hr class="navbar-divider"></li>
      <li class="nav-item mb-4">
        <div class="text-italic nav-title text-muted">E-Commerce</div>
      </li> {% endcomment %}


      <li class="nav-item {% if request.resolver_match.view_name == 'banners' %} active {% endif %}">
        <a href="{% url 'banners' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-images"></i>
          </span>
          <span class="sidebar-text">Banners</span>
        </a>
      </li>

      <li class="nav-item {% if request.resolver_match.view_name == 'markets' %} active {% endif %}">
        <a href="{% url 'markets' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-images"></i>
          </span>
          <span class="sidebar-text">Markets</span>
        </a>
      </li>

      <li class="nav-item {% if request.resolver_match.view_name == 'market-bids' %} active {% endif %}">
        <a href="{% url 'market-bids' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-coins"></i>
          </span>
          <span class="sidebar-text">Market Bid</span>
        </a>
      </li>

      <li class="nav-item {% if request.resolver_match.view_name == 'wallets' %} active {% endif %}">
        <a href="{% url 'wallets' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-list"></i>
          </span>
          <span class="sidebar-text">Wallet Transactions</span>
        </a>
      </li>

      {% comment %} <li class="nav-item {% if request.resolver_match.view_name == 'update-setting' %} active {% endif %}">
        <a href="{% url 'update-setting' %}" class="nav-link">
          <span class="sidebar-icon">
            <i class="fas fa-cog"></i>
          </span>
          <span class="sidebar-text">Setting</span>
        </a>
      </li> {% endcomment %}
      


      {% endif %}
    </ul>
  </div>
</nav>
