{% extends "frontend/base.html" %}
{% load static %}
{% block header %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock header %}
{% block content %}
  {% csrf_token %}
  <div class="container-fluid">
    <div class="modal" id="loader-modal" tabindex="-1" role="dialog" aria-labelledby="loader-modal-label" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 bg-transparent text-white">
          <div class="modal-body">
            <div class="text-center justify-content-center">
              <p class="">Please wait...</p>
              <p id="count-down" class="h1">60</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2 py-sm-3 py-md-3 py-lg-3 py-xl-3 py-xl-3 py-xxl-3  ">
      <div class="col-2">
        <a href="javascript:void(0);" onclick="history.back()">  <i class="fa-solid fa-arrow-left text-white"></i></a>
      </div>
      <div class="col-10">
        <p class="fw-bold" >Quick Margin</p>
      </div>
    </div>
    <div class="row  mt-3 mt-sm-0 mt-md-0 mt-lg-0   ">
      <div class=" col-12 ">
        <p class="fw-bold ms-0 ms-md-1 ms-sm-1 ms-lg-1  call-sub-head " ><i class="fa-solid fa-chart-line"></i>&nbsp; {{market.name}} </p>
      </div>
    </div>
    <div class="row mt-3  mt-sm-5 mt-lg-5 mt-md-2 bg-gradient-black m-0 rounded">
      <div class=" col-4 col-sm-5 col-md-5 col-lg-5 " >
        <p class="fw-bold ms-0 ms-md-2 ms-sm-2 ms-lg-2  call-money " >{{market.latest_price}} </p>
        <p class="fw-bold ms-0 ms-md-2 ms-sm-2 ms-lg-2  call-profit " > {% if market.fun_range > 0 %}+{% endif %}{{market.fun_range}}%</p>
      </div>
      <div class=" col-4    col-sm-2 col-md-2 col-lg-2 ">
        <p class=" ms-4 ms-md-2 ms-sm-2 ms-lg-2   call-value" >low</p>
        <p class=" ms-4 ms-md-2 ms-sm-2 ms-lg-2   call-value" >high</p>
        <p class=" ms-4 ms-md-2 ms-sm-2 ms-lg-2   call-value" >24 hamout</p>
      </div>
      <div class=" col-4  col-sm-5 col-md-5 col-lg-5 ">
        <p class="fw-bold me-0 me-md-1 me-sm-1 me-lg-1 call-amt" >66127.18</p>
        <p class="fw-bold me-0 me-md-1 me-sm-1 me-lg-1 call-amt " >69326.07</p>
        <p class="fw-bold me-0 me-md-1 me-sm-1 me-lg-1 call-amt" >1968</p>
      </div>
    </div>
    <div class="row  mt-5  mt-lg-5 mt-md-4 mt-sm-4"  >
      <div class="col-12 ">
        <div class="">
          {% comment %} <input type="text" id="stockSymbol" placeholder="Enter Stock Symbol (e.g., MSFT)">
          <button id="fetchData">Fetch Data</button> {% endcomment %}
          <canvas id="tradingChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid position-fixed bottom-0 p-2 ">
    <div class="row">
      <div class="col-6 d-grid ">
        <button class="btn text-white bg-gradient-success bid" role="button" aria-disabled="true" value="Call">Call</button>
      </div>
      <div class="col-6 d-grid">
        <button class="btn text-white bg-gradient-success bid" role="button" aria-disabled="true" value="Put">Put</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="{% static "frontend/js/chart.js" %}"></script>
  
  {% comment %} Call Put Bid jQuery {% endcomment %}
  <script>
    $(document).ready(function(){
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer;
          toast.onmouseleave = Swal.resumeTimer;
        }
      });
      $(document).on('click', '.bid', function (e) {
        var bid = $(this).val();
        var url = "{% url 'call-put-bid' %}";
        $.ajax({
          url: url,
          type: 'post',
          data: {
            'uid': {{request.user.id}},
            'market_id': {{market.id}},
            'bid': bid,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
          },
          dataType: 'json',
          success: function (data) {
            console.log(data);
            if (data['success']){
              $('#loader-modal').show();
              setTimeout(function() {
                $('#loader-modal').hide();
                window.location.href="/wallet/"
              }, 60000);
              
              var seconds = 60;
              function incrementSeconds() {
                seconds -= 1;
                $("#count-down").text(seconds);
              }
              setInterval(incrementSeconds, 1000);
            } else {
              Toast.fire({
                icon: "error",
                title: data['error']
              });
            }
          }
        });
      });
    });

  </script>
  
{% endblock scripts %}
