{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-around position-fixed bottom-0 footer bg-black bg-gradient w-100 py-3 z-1">
  <a class="link-offset-2 link-size text-center link-underline link-underline-opacity-0 text-gradient" href="{% url "home" %}"> <i
     class="fa-solid fa-house d-block"></i>Home </a>
  <a class="link-offset-2 link-size text-center link-underline link-underline-opacity-0 text-gradient" href="/#markets"><i
     class="fa-solid fa-chart-column d-block"></i>Market</a>
  <a class="link-offset-2 link-size text-center link-underline link-underline-opacity-0 text-gradient" href="{% url "user_wallet" %}"><i
     class="fa-solid fa-wallet d-block"></i>Wallet</a>
  <a class="link-offset-2 link-size text-center link-underline link-underline-opacity-0 text-gradient" href="{% url "user_mine" %}"><i
     class="fa-solid fa-user d-block "></i>Mine</a>
</div>
<nav class="navbar navbar-expand text-gradient">
  <div class="container-fluid ">
     <a class="navbar-brand" href="{% url "user_mine" %}"><i class="fas fa-user"></i></a>
  </div>
</nav>
<div id="carouselExampleSlidesOnly" class="carousel slide p-2" data-bs-ride="carousel">
  <div class="carousel-inner">
     {% for banner in banners %}
     <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %} c-item">
        <img src="{{banner.image.url}}" class="d-block  w-100 c-img rounded-3" alt="{{banner.alt}}">
     </div>
     {% endfor %}
  </div>
</div>
<div class="container-fluid mt-4 px-2">
  <div class="bg-gradient rounded">
     <div class="col d-flex justify-content-around py-3 p-1">
        <a class="link-offset-2 up-link text-center link-underline link-underline-opacity-0 text-gradient" href="{% url "user_recharge" %}"> <i
           class="fa-solid fa-download up-icon d-block"></i>  Recharge</a>
        <a class="link-offset-2 up-link text-center link-underline link-underline-opacity-0 text-gradient" href="{% url "user_withdrowal" %}"><i
           class="fa-solid fa-upload d-block up-icon"></i>Withdraw</a>
        <a class="link-offset-2 up-link text-center link-underline link-underline-opacity-0 text-gradient" data-bs-toggle="modal" data-bs-target="#grpSignalModel" href="javascript:void(0);"><i
           class="fa-solid fa-circle-info d-block up-icon"></i>Group signal</a>
        <a class="link-offset-2 up-link text-center link-underline link-underline-opacity-0 text-gradient" href="{% url "my_team" %}"><i
           class="fa-solid fa-share-nodes d-block up-icon"></i>Share</a>
        <a class="link-offset-2 up-link text-center link-underline link-underline-opacity-0 text-gradient" data-bs-toggle="modal" data-bs-target="#serviceModal"  href="javascript:void(0);"><i
           class="fa-solid fa-headphones d-block up-icon"></i>Services</a>
        <!-- Signal Modal -->
        <div class="modal fade" id="grpSignalModel" tabindex="-1" aria-labelledby="grpSignalModelLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                 <div class="modal-header">
                    <h1 class="modal-title fw-semibold fs-4 " id="grpSignalModelLabel">Join Signal </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                    <a type="button" href="{{group_signal_wa}}" target="_blank" class="btn btn-primary btn-lg"> 
                    <img src="{% static "frontend/img/whatsapp.svg" %}" alt="WhatsApp" height="36px;" class="">
                    WhatsApp</a>
                    <a type="button" href="{{group_signal}}" target="_blank" class="btn btn-primary btn-lg">
                    <img src="{% static "frontend/img/telegram.svg" %}" alt="Teligram" height="36px;" class="">Teligram</a>
                 </div>
              </div>
           </div>
        </div>
        <!--Modal  -->
        <!-- Service Modal -->
        <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                 <div class="modal-header">
                    <h1 class="modal-title fw-semibold fs-4 " id="serviceModalLabel">Choose Service </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                    <a type="button" href="{{service}}" target="_blank" class="btn btn-primary btn-lg">Service 1</a>
                    <a type="button" href="{{service2}}" target="_blank" class="btn btn-primary btn-lg">Service 2</a>
                 </div>
              </div>
           </div>
        </div>
        <!--Modal  -->
     </div>
  </div>
</div>
<div class="container-fluid text-center mt-4" id="markets">
  <div class="row mb-4">
     {% for tm in top_markets %}
     <div class="col-4">
        <div class="mt-1 mx rounded p-1 shadow {% if tm.fun_range < 0 %} bg-gradient text-danger {% else %} bg-gradient {% endif %}">
           <h5 class="h-head text-gradient pt-2">{{tm.name}} </h5>
           <h5 class="p-head {% if tm.fun_range < 0 %} text-danger{% endif %}">{{tm.latest_price}} </h5>
           <h5 class="p-head-g  {% if tm.fun_range < 0 %} text-danger{% endif %}">{% if tm.fun_range < 0 %}{% else %}+{% endif %}{{tm.fun_range}}%</h5>
        </div>
     </div>
     {% endfor %}
  </div>
</div>
<div class="px-3 mt-2" >
  <div class="row rounded text-capitalize text-center">
     <div class="col">Symbol</div>
     <div class="col">price</div>
     <div class="col">Fluctuation</div>
  </div>
</div>
<div class="px-3 text-center">
  {% for market in markets %}
   <div class="row bg-gradient mt-3 rounded-4 py-1">
      <div class="col ms-2 align-content-around">
         <a href="{% url "call_put" market.id %}" class="text-decoration-none text-white">
         <img class="" src="{{market.sybmol.url}}" alt="" width="20px"> 
         <span class="optionfont-size fw-bold ps-1">{{market.name}}</span> 
         </a> 
      </div>
      <div class="col align-content-around">
         <span class="optionfont-size fw-bold">{{market.latest_price}}</span>
      </div>
      <div class="col align-content-around"> 
         <span class="fw-bold {% if market.fun_range < 0 %} text-danger {% endif %}">{% if market.fun_range < 0 %}{% else %}+{% endif %}{{market.fun_range}} </span>
      </div>
   </div>
  {% endfor %}
</div>
<div style="padding-top: 100px !important;"></div>
{% endblock %}

{% block scripts %}
{% comment %} Home Page {% endcomment %}
<script>
   const myCarouselElement = document.querySelector('#myCarousel')
   const carousel = new bootstrap.Carousel(myCarouselElement, {
     interval: 1000,
     touch: false
   })
</script>
 {% endblock scripts %}