{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid user-data ">
  <div class="row  py-2 py-sm-3 py-md-3 py-lg-3 py-xl-3 py-xl-3 py-xxl-3   ">
    <div class="col-12   ">
      <a href="javascript:void(0);" onclick="history.back()">  <i class="fa-solid fa-arrow-left text-white"></i></a>
    </div>
  </div>
  <div class="row  ">
    <div class="col" >
      <img src="{% static "frontend/img/user.png" %}" class="rounded-circle float-start  mine-img p-2 " alt="..." >
    </div>
    <div class="col">
      <p class="u-number "> {{request.user.mobile_number}} (VIP{{request.user.vip_level}})     </p>
      <p class="u-join " > Join time：{{request.user.date_joined|date}}  </p>
      <p  class="u-code "> Invite code：{{request.user.referral_code}}  <i class="fa-solid fa-copy fa-xs copy-icon ms-1" style="color: #fafafa;"></i></p>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="row  py-3">
    <a class="link-offset-2 link-underline text-white link-underline-opacity-0" target="_blank" href="{{config.APK_URL}}">
      <div class="col">
        <i class="fa-solid fa-circle-down u-icon "></i> <span class="u-name ms-3"> App Download </span><i class="fa-solid fa-arrow-right u-icon float-end"></i>
      </div>
    </a>
  </div>
  <div class="row  py-3">
    <div class="col">
      <a class="link-offset-2 link-underline text-white link-underline-opacity-0" href="{% url "option" %}">   <i class="fa-solid fa-folder u-icon "></i> <span class="u-name ms-3">Trading Record </span><i class="fa-solid fa-arrow-right u-icon float-end"></i>
    </div>
    </a>
  </div>
  <div class="row  py-3">
    <div class="col">
      <a class="link-offset-2 link-underline text-white link-underline-opacity-0" href="{% url "my_team" %}">
      <i class="fa-solid fa-users u-icon"></i> <span class="u-name ms-3"> My Team </span><i class="fa-solid fa-arrow-right u-icon float-end"></i>
    </div>
    </a>
  </div>
  <div class="row  py-3">
    <div class="col">
      <a class="link-offset-2 link-underline text-white link-underline-opacity-0" href="{% url "user_bank_detail" %}">
      <i class="fa-solid fa-building-columns u-icon "></i> <span class="u-name ms-3"> Bank Details</span> <i class="fa-solid fa-arrow-right u-icon float-end"></i>
    </div>
    </a>
  </div>
  <div class="row  py-3">
    <div class="col">
      <a class="link-offset-2 link-underline text-white link-underline-opacity-0" href="{% url "about_us" %}">
      <i class="fa-solid  fa-address-card u-icon"></i><span class="u-name ms-3">  About Us </span> <i class="fa-solid fa-arrow-right u-icon float-end"></i>
    </div>
    </a>
  </div>
  <div class="row  py-3">
    <div class="col">
      <a class="link-offset-2 link-underline text-white link-underline-opacity-0" href="{% url "password_setting" %}">
      <i class="fa-solid fa-shield-halved u-icon"></i> <span class="u-name ms-3"> Password Setting </span><i class="fa-solid fa-arrow-right u-icon float-end"></i>
    </div>
    </a>
  </div>
  <div class="row  py-3">
    <div class="col">
      <a class="link-offset-2 link-underline text-white link-underline-opacity-0" href="{% url "user_logout" %}">
      <i class="fa-solid fa-right-from-bracket u-icon"></i> <span class="u-name ms-3"> Signout</span><i class="fa-solid fa-arrow-right u-icon float-end"></i>
    </div>
    </a>
  </div>
</div>
{% endblock content %}
