{% extends "frontend/base.html" %}
{% load static %}
{% block header %}
  <style>

    /* is css code ko style.css me laga dena  pura css ek jagha rhe ga tho sahi rhe ga jaisa isme vaise he css file me laga dena . */
      .banner-img{
        width: 40%;
      }
      /* ye pura style.css ke media query 321 se 480 wale me laga dena last me media query 321 se 480 me  */
          @media screen and (min-width:321px) and (max-width:480px)  {
        .About-head{
            font-size: 25px;
        }
        th{
            font-size: 12px;
        }
        tr{
            font-size: 12px;
        }
        .Ab-card-title{
            font-size: 12px;
        }
        .Ab-card-text {
            font-size: 12px;
        }
        .banner-img{
            width: 100%;
        }
        .alert{
          font-size: 12px;
        }
        
    }
  </style>
{% endblock header %}
{% block content %}
<div class="container-fluid ">
  <div class="mt-1">
    <div class="row py-2">
      <a href="javascript:void(0);" onclick="history.back()" class="col-2"> <i class="fa-solid fa-arrow-left text-white"></i></a>
      <div class="col-10">
        <h3 class="">Order - Option <i class="fas fa-address-card"></i></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="">
      <div class="card bg-gradient-black shadow">
        <div class="card-body mt-2">
          <div class="row text-center fw-bold">
            <div class="col">Market</div>
            <div class="col">Bid/Profit</div>
            <div class="col">Date</div>
          </div>
          <div class="">
            {% for i in orders %}
            <div class="row bg-gradient mt-3 rounded-4 py-1">
              <div class="col ms-2 align-content-around">
                <span class="name mb-0 text-sm">{{i.market_name}} </span>
                <p class="name mb-0 {% if i.pay_type == "Loss" %} text-danger {% else %} text-success {% endif %} ">{{i.pay_type}} </p>
              </div>
              <div class="col align-content-around">
                <div class="media align-items-center">
                  <div class="media-body">
                    <p class="name mb-0 text-sm">{{i.order_option}} </p>
                    <p class="name mb-0 {% if i.pay_type == "Loss" %} text-danger {% else %} text-success {% endif %} ">₹{{i.amount}} </p>
                  </div>
                </div>
              </div>
              <div class="col align-content-around"> 
                  <span class="small">{{i.created_at}}</span>
              </div>
            </div>
            
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
