{% extends "frontend/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row py-2 py-sm-3 py-md-3 py-lg-3 py-xl-3 py-xl-3 py-xxl-3 ">
    <div class="col-12 ">
      <a href="javascript:void(0);" onclick="history.back()"> <i class="fa-solid fa-arrow-left text-white"></i></a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="bg-gradient-black p-2 shadow" role="alert">
        <h4 class="alert-heading text-uppercase">Password Setting <i class="fa-solid fa-shield-halved" style="color: #0a3622;"></i></h4>
        <hr>
        <p class="mb-0">Please enter right password first enter your old Password then new password and confirm the New Password</p>
      </div>
    </div>
  </div>
  <div class="row mb-3 top-inside"  >
    {% if messages %}
    {% for message in messages %}
    <div class="col-sm-10" >
      <div class="alert alert-primary alert alert-danger alert-dismissible fade show p-2" role="alert"  style="height:40px; ">
        {{ message }}
        <button type="button" class="btn-close  " data-bs-dismiss="alert" aria-label="Close"  style="height:1px; "></button>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="row mt-4">
    <div class="col">
      <form method="post" class="w-100">
        {% csrf_token %}
        <div class="card bg-dark shadow">
          <div class="card-body">
            <div class="form-floating mb-3">
              <input type="password" class="form-control   " id="oldpass" placeholder="Password" name="old_password">
              <label for="oldpass">Old Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control " id="newpass" placeholder="Password" name="new_password">
              <label for="newpass">New Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control " id="newpass1" placeholder="Password" name="confirm_password">
              <label for="newpass1">Confrim Password</label>
            </div>
            <div class="d-grid  mx-auto">
              <button class="btn btn-primary bg-primary" type="submit" >Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  var newpass=document.querySelector('#newpass')
  var newpass1=document.querySelector('#newpass1')
  var btn=document.querySelector('button')
  var old=document.querySelector("#oldpass")
  
  border=document.querySelector(".card")
  btn.disabled=true;
  
  newpass1.addEventListener("input",function(){
    if (newpass.value==newpass1.value) {
      newpass1.setAttribute("class","form-control is-valid") 
      newpass.setAttribute("class","form-control is-valid") 

      border.setAttribute("class"," card border-success")
      btn.disabled=false;
      btn.setAttribute("class"," btn btn-success bg-success")
    
    } else {
      newpass1.setAttribute("class","form-control is-invalid") 
      newpass.setAttribute("class","form-control is-invalid") 
    
      border.setAttribute("class"," card border-danger")
      btn.setAttribute("class"," btn btn-danger bg-danger")
      btn.disabled=true;
    }
  })

  old.addEventListener("input",function(){
    if (old.value!="") {
      old.setAttribute("class","form-control is-valid") 
      border.setAttribute("class"," card border-success")
      btn.disabled=false;
      btn.setAttribute("class"," btn btn-success bg-success")
    } else {
      old.setAttribute("class","form-control is-invalid") 
      border.setAttribute("class"," card border-danger")
      btn.setAttribute("class"," btn btn-danger bg-danger")
      btn.disabled=true;
    }
  })
</script>
{% endblock scripts %}
