{% extends "frontend/base.html" %}
{% block content %}
<form class="Login-Form w-100 " method="post" >
  {% csrf_token %}
  <div class="container-fluid">
  <div class="row py-2 mt-1">
    <div class="col-2">
      <a href="javascript:void(0);" onclick="history.back()">  <i class="fa-solid fa-arrow-left text-white"></i></a>
    </div>
    <div class="col-10">
      <h3 class="fw-medium"> Recharge</h3>
    </div>
  </div>
  <div class="row   ">
    <div class="col-9     col-md-10 col-sm-9 col-lg-11">
      <p class="recharge-Currency ms-1 "> Currency</p>
    </div>
    <div class="col-3   col-md-2 col-sm-3 col-lg-1 ">
      <p class="recharge-INR float-end ">INR <i class="fa-solid fa-arrow-right Recharge-left-icon  ms-2  "></i>
      </p>
    </div>
  </div>
  <div class="row   mt-2 mt-sm-3 mt-md-3 mt-lg-3  ">
    <div class="col-9 col-md-10 col-sm-9 col-lg-11  ">
      <p class="recharge-Currency  ms-1"> Payments</p>
    </div>
    <div class="col-3  col-md-2 col-sm-3 col-lg-1 ">
      <p class="recharge-INR float-end ">INR <i class="fa-solid fa-arrow-right Recharge-left-icon  ms-2  "></i>
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn text-info bg-gradient mx-1">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> HEXPAY
      </label>
      <label class="btn text-info bg-gradient mx-1">
        <input type="radio" name="options" id="option2" autocomplete="off"> SUNPAY
      </label>
      <label class="btn text-info bg-gradient mx-1">
        <input type="radio" name="options" id="option3" autocomplete="off"> SUNPAY
      </label>
      <label class="btn text-info bg-gradient mx-1">
        <input type="radio" name="options" id="option4" autocomplete="off"> QEEPAY
      </label>
    </div>
  </div>
  <div class="row mt-4  mt-md-5 mt-sm-5 mt-lg-5 ">
    <div class="col-12     ">
      <p class="small ms-1">Recharge Amount</p>
    </div>
    <div class="col-12    ">
      <input class="form-control form-control " type="number" name="amount" placeholder="Please Enter Your Amount" aria-label=".form-control-lg example" id="input" required readonly >
    </div>
    <div class="col-12 d-flex mt-3">
      <p class="bg-black bg-gradient-black shadow p-1 rounded px-2 mx-2" id="amt-700">700</p>
      <p class="bg-black bg-gradient-black shadow p-1 rounded px-2 mx-2" id="amt-1000">1000</p>
      <p class="bg-black bg-gradient-black shadow p-1 rounded px-2 mx-2" id="amt-1500">1500</p>
      {% comment %} <p class="bg-black bg-gradient-black shadow p-1 rounded px-2 mx-2" id="amt-2000">2000</p> {% endcomment %}
      {% comment %} 
      <p class="bg-black bg-gradient-black shadow p-1 rounded px-2 mx-2"id="p3">5000</p>
      {% endcomment %}
    </div>
    <div class="d-grid gap-2 mt-0 mb-3 justify-content-around">
      <button class="btn btn-lg bg-gradient-success" type="button" id="submit">Recharge</button>
    </div>
    <div class="col-12 mt-1">
      <p class="small ms-1 text-center">Single recharge limit 500-1000</p>
    </div>
    <div class='col-12 'id='show-btn'>
    </div>
    {% comment %} 
    <div class="col-12    ">
      <p class="small ms-1  ">UTR Number</p>
      <input class="form-control form-control  " type="text" name="utr" placeholder="Enter Your UTR Number" aria-label=".form-control-lg example" id="UTR-input" required   >
    </div>
    {% endcomment %}
  </div>
</form>

<!-- History -->
<div class="px-2 mt-4 mb-2 text-center">
  <div class="row rounded text-capitalize">
    <div class="col">Quantity</div>
    <div class="col">Status</div>
    <div class="col">Time</div>
 </div>

  {% for w in wallets %}
  <div class="row mt-3 rounded-4 py-1 {% if w.status == 'Success' %} bg-gradient-success {% elif w.status == 'Rejected' %} bg-gradient-danger {% else %} bg-gradient {% endif %}">
    <div class="col align-content-around">
      <p class="mb-1 h4">{{w.amount}} </p>
      <span class="small" >{{w.pay_type}} </span>
    </div>
    <div class="col align-content-around">
      <p class="mb-1">{{w.status}} </p>
    </div>
    <div class="col align-content-around">
      <p class="mb-1 small">{{w.created_at}} </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}

<script>
  selectedAmount=document.querySelector('#input')
  amt_700=document.querySelector('#amt-700')
  amt_1000=document.querySelector('#amt-1000')
  amt_1500=document.querySelector('#amt-1500')
  
  amt_700.addEventListener("click",function(){
    selectedAmount.value=amt_700.innerText;
  })

  amt_1000.addEventListener("click",function(){
    selectedAmount.value=amt_1000.innerText;
  })

  amt_1500.addEventListener("click",function(){
    selectedAmount.value=amt_1500.innerText;
  })

</script>

{% comment %} Razor Pay Integration {% endcomment %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  
  // ajax post request
  $(document).ready(function() {
    const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 2000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });

    $('#submit').on('click', function(e) {
      const amount = $('#input').val();
      console.log("Submit button clicked !");
      if (amount) {
        console.log("Initiating recharge of: " +  amount);
        $.ajax({
          type: "POST",
          url: "{% url 'recharge_rzp' %}",
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            amount: amount,
          },
          success: function(data, textStatus, jqXHR) {
            // Handle success response
            console.log("Success:", data);

            var options = {
              "key": data.key, // Enter the Key ID generated from the Dashboard
              "amount": data.rzp.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
              "currency": "INR",
              "name": data.app_name, //your business name
              "description": "",
              // "image": "https://example.com/your_logo",
              "order_id": data.rzp.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
              "callback_url": "{% url 'verify_rzp_payment' %}",
              "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                  "name": "", //your customer's name
                  "email": "{{request.user.email}}",
                  "contact": "{{request.user.mobile_number}}" //Provide the customer's phone number for better conversion rates 
              },
              /* "notes": {
                  "address": ""
              }, */
              "theme": {
                  "color": "#3399cc"
              }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
          },
          error: function(jqXHR, textStatus, errorThrown) {
            // Handle error response
            console.log("Error:", textStatus, errorThrown);
            Toast.fire({
              icon: "error",
              title: errorThrown
            });
          }
        });
      } else {
        Toast.fire({
          icon: "error",
          title: "Select amount"
        });
      }
    });
  });

</script>
{% endblock scripts %}
