<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDS - Register</title>
    <link rel="stylesheet" href="{% static "auth/styles.css" %}">
</head>
<body>
  <div class="register-container">
    <img src="{% static "assets/img/brand/logo.png" %}" alt="Brahm Logo" class="logo">

    {% if messages %}
      {% for message in messages %}
      <div class="col-sm-10" >
        <div class="alert-danger p-3 rounded alert alert-primary alert alert-dismissible fade show p-2" role="alert">
          {{ message }}
        </div>
      </div>
      {% endfor %}
    {% endif %}
    
    <form method="post">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Please enter your name" required>
      <input type="number" name="mobile" id="mobile" placeholder="Please enter your phone" required>
      <input type="email" name="email" placeholder="Please enter your email" required>
      <input type="password" name="password" id="password" placeholder="Please enter a password" required>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Please enter a confirm password" required>
      <input type="number" id="id_code" name="code" value="{{request.GET.code}}" placeholder="Please enter a valid invitation code" required>
      <p id="id_referral_name" class="d-flex m-auto"> </p> </br>
      <label>
          <input type="checkbox" required> Terms & Conditions <a href="{% url "tc" %}" target="_blank">Read</a>
      </label>
      <button type="submit">Register</button>
      <div class="extra-options">
          <a href="{% url "user_login" %}">Already have an account? Sign In</a>
      </div>
    </form>
  </div>
  <script>
    const password = document.getElementById("password");
    const confirm_password = document.getElementById("confirm_password");
    const mobile = document.getElementById("mobile");
    const id_code = document.getElementById("id_code");
    const referral_name = document.getElementById("id_referral_name");
    
    function validateConfirmPassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't match");
      } else {
        confirm_password.setCustomValidity('');
      }
    };

    function validateMobile(){
      let mobileRegex = /^[6-9]\d{9}$/;
      if(!mobileRegex.test(mobile.value)) {
        mobile.setCustomValidity("Invalid mobile number");
      } else {
        mobile.setCustomValidity('');
      }
    };

    function getReferralName() {
      let code = document.getElementById("id_code").value;
      if (code.length == 6){
        let url = "{% url 'get_name_referral_code' %}?code=" + code;
        fetch(url)
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            if (referral_name.classList.contains('text-danger')) {
              referral_name.classList.remove('text-danger');
            }
            referral_name.classList.add('text-success');
            referral_name.innerHTML = data.name;
          } else  {
            if (referral_name.classList.contains('text-success')) {
              referral_name.classList.remove('text-success');
            }
            referral_name.classList.add('text-danger');
            referral_name.innerHTML = "Invalid code";
          }
        })
      } else {
        referral_name.innerHTML = "";
      }
    };

    mobile.onchange = validateMobile;
    mobile.onkeyup = validateMobile;
    password.onchange = validateConfirmPassword;
    confirm_password.onkeyup = validateConfirmPassword;
    id_code.onkeyup = getReferralName;

  </script>
</body>
</html>
