<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDS - Login</title>
    <link rel="stylesheet" href="{% static "auth/styles.css" %}">
  </head>
  <body>
    <div class="login-container">
        <img src="{% static "assets/img/brand/logo.png" %}" alt="Brahm Logo" class="logo">
        
        {% if messages %}
          {% for message in messages %}
          <div class="col-sm-10" >
            <div class="alert-danger p-3 rounded alert alert-primary alert alert-dismissible fade show p-2" role="alert">
              {{ message }}
            </div>
          </div>
          {% endfor %}
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Please enter the phone" required>
          <input type="password" name="password" placeholder="Please enter the password" required>
          <label>
            <input type="checkbox" required> Terms & Conditions <a href="{% url 'tc' %}" target="_blank"> Read</a>
          </label>
          <button type="submit">Sign In</button>
          <div class="extra-options">
            <a href="{% url 'user_register' %}">Register Now</a>
            <a  href="{% url "reset_user_password" %}" target="_blank">Forgot password?</a>
          </div>
        </form>
    </div>
  </body>
</html>
