{% extends 'base/base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} 
                <a href="{% url "add-wallet" %}" class="btn-gray-200 btn float-end mx-2">Add New</a></h3>
            </div>

            {% comment %} Filter Options {% endcomment %}
            <form method="get">
                <!-- Search -->
                
                <div id="filterDiv" class="m-3 row col">
                    
                    <input class="" hidden id="pageNumber" name="page" value="{{request.GET.page}}">
                    
                    <div class="col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input class="form-control" id="searchMobile" name="mobile" value="{{request.GET.mobile}}">
                            <label for="searchMobile">Mobile</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input class="form-control" id="searchUTR" name="utr" value="{{request.GET.utr}}">
                            <label for="searchUTR">UTR</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" id="searchType" name="pt" aria-label="Floating label select example">
                                <option value>All</option>
                                <option {% if request.GET.pt == 'Add Money' %}selected{% endif %} >Add Money</option>
                                <option {% if request.GET.pt == 'Commission' %}selected{% endif %} >Commission</option>
                                <option {% if request.GET.pt == 'Winning' %}selected{% endif %} >Winning</option>
                                <option {% if request.GET.pt == 'Loss' %}selected{% endif %} >Loss</option>
                                <option {% if request.GET.pt == 'Widrawal' %}selected{% endif %} >Widrawal</option>
                                <option {% if request.GET.pt == 'Widrawal Charge' %}selected{% endif %} >Widrawal Charge</option>
                                <option {% if request.GET.pt == 'Salary' %}selected{% endif %} >Salary</option>
                                <option {% if request.GET.pt == 'Bonus' %}selected{% endif %} >Bonus</option>
                            </select>
                            <label for="searchType">Pay Type</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" id="searchMethod" name="pm">
                                <option value>All</option>
                                <option {% if request.GET.pm == 'UPI' %}selected{% endif %} >UPI</option>
                                <option {% if request.GET.pm == 'QR' %}selected{% endif %} >QR</option>
                                <option {% if request.GET.pm == 'Bank' %}selected{% endif %} >Bank</option>
                            </select>
                            <label for="searchMethod">Method</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" id="searchStatus" name="status">
                                <option value>All</option>
                                <option {% if request.GET.status == 'Success' %}selected{% endif %} >Success</option>
                                <option {% if request.GET.status == 'Pending' %}selected{% endif %} >Pending</option>
                                <option {% if request.GET.status == 'Rejected' %}selected{% endif %} >Rejected</option>
				<option {% if request.GET.status == 'Hold' %}selected{% endif %} >Hold</option>
                            </select>
                            <label for="searchStatus">Status</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <input type="submit" value="Filter">
                    </div>
                
                </div>
            </form>

            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="walletListTableId">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort">SN</th>
                            <th scope="col" class="sort">ID</th>
                            <th scope="col" class="sort">User</th>
                            <th scope="col" class="sort">Tot. Withdra/Recharge</th>
                            <th scope="col" class="sort">Amount</th>
                            <th scope="col" class="sort">Pay Type</th>
                            <th scope="col" class="sort">Bank</th>
                            <th scope="col" class="sort">Status</th>
                            <th scope="col" class="sort">Method</th>
                            <th scope="col" class="sort">UTR/Rzp Ord Id</th>
                            <th scope="col" class="sort">Remark</th>
                            <th scope="col" class="sort">Date</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for wallet in wallets %}
                        <tr>
                            <td class="budget">
                                {{forloop.counter}}
                            </td>
                            <td>
                                {{wallet.id}}
                            </td>
                            <td>
                                <a href="{% url "user-team" wallet.user.id %}" class="media-body">

                                    {% if wallet.user.name %}
                                    <span class="name mb-0 text-sm">{{wallet.user.name}} </span>
                                    {% endif %}

                                    {% if wallet.user.email %}
                                    <p class="name mb-0 text-xs">{{wallet.user.email}} </p>
                                    {% endif %}
                                    
                                    <p class="name mb-0 text-xs">{{wallet.user.mobile_number}} </p>
                                    
                                </a>
                            </td>
                            <td>
                                {% if wallet.pay_type == "Widrawal" %}
                                <span class=""> {{wallet.user.total_withdrawal_amount}}/{{wallet.user.total_recharged_amount}} </span>
                                {% endif %}
                            </td>
                            <td>
                                <span> {{wallet.amount|floatformat:2}} </span>
                            </td>
                            <td>
                                {{wallet.pay_type}}
                            </td>
                            <td>
                                {% if wallet.pay_type == "Widrawal" and wallet.status == "Hold" %}
                                <p class="m-0" >Ac: {{wallet.user.bank.ac}} </p>
                                <p class="m-0" style="font-size: smaller;" >Ifsc: {{wallet.user.bank.ifsc}} </p>
                                <p class="m-0" style="font-size: smaller;" >Bank: {{wallet.user.bank.bank}} </p>
                                <p class="m-0" style="font-size: smaller;" >Name: {{wallet.user.bank.name}} </p>
                                {% endif %}
                            </td>
                            <td>
                                {% comment %} {% if wallet.status == "Success" %}
                                Success
                                {% else %} {% endcomment %}
                                <select class="border-0 walletStatus" data-wallet-id="{{ wallet.id }}">
                                    <option value="Pending" {% if wallet.status == "Pending" %}selected{% endif %}>Pending</option>
                                    <option value="Success" {% if wallet.status == "Success" %}selected{% endif %}>Success</option>
                                    <option value="Hold" {% if wallet.status == "Hold" %}selected{% endif %}>Loss</option>
                                    <option value="Rejected" {% if wallet.status == "Rejected" %}selected{% endif %}>Rejected</option>
                                </select>
                                {% comment %} {% endif %} {% endcomment %}
                            </td>
                            <td>
                                {{wallet.pay_method}}
                            </td>
                            <td>
                                {% if wallet.utr %}
                                {{wallet.utr}}
                                {% endif %}
                                {% if wallet.razorpay_order_id %}
                                {{wallet.razorpay_order_id}}
                                {% endif %}
                            </td>
                            <td>
                                {{wallet.remark}}
                            </td>
                            <td>
                                {{wallet.created_at}}
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="pagination">
                <span class="step-links">
                    {% if wallets.has_previous %}
			{% with existing_params as params %}
                        <a class="" href="?{% for key, value in params.items %}{{ key }}={{ value }}&{% endfor %}page=1">&laquo; first</a>
                        <a class="mx-2" href="?{% for key, value in params.items %}{{ key }}={{ value }}&{% endfor %}page={{ wallets.previous_page_number }}">previous</a>
			{% endwith %}
                    {% endif %}
            
                    <span class="current mx-4">
                        Page {{ wallets.number }} of {{ wallets.paginator.num_pages }}.
                    </span>
            
                    {% if wallets.has_next %}
			{% with existing_params as params %}
                        <a class="mx-2" href="?{% for key, value in params.items %}{{ key }}={{ value }}&{% endfor %}page={{ wallets.next_page_number }}">next</a>
                        <a class="" href="?{% for key, value in params.items %}{{ key }}={{ value }}&{% endfor %}page={{ wallets.paginator.num_pages }}">last &raquo;</a>
			{% endwith %}
                    {% endif %}
                </span>
            </div>
        </div>  
    </div>
</div>
{% endblock content %}
{% block javascripts %}
    
    {% comment %} Search JS {% endcomment %}
    {% comment %} <script src="{% static 'assets/custom-js/wallet-search.js' %}"></script> {% endcomment %}

    <script>
        $(document).on('change', '.walletStatus', function(e) {
            var wallet_id = $(this).data('wallet-id');
            var new_status = $(this).val();
            var url = "{% url 'update-wallet-status-ajax' %}";
            
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'wallet_id': wallet_id,
                    'new_status': new_status,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        console.log('wallet status updated successfully');
                    } else {
                        console.error('Error updating wallet status:', data.error);
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
