{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} 
                <a href="{% url "add-wallet" %}" class="btn-gray-200 btn float-end mx-2">Add New</a></h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort">SN</th>
                            <th scope="col" class="sort">ID</th>
                            <th scope="col" class="sort">User</th>
                            <th scope="col" class="sort">Mobile Number</th>
                            <th scope="col" class="sort">Amount</th>
                            <th scope="col" class="sort">Pay Type</th>
                            <th scope="col" class="sort">Bank</th>
                            <th scope="col" class="sort">Status</th>
                            <th scope="col" class="sort">Method</th>
                            <th scope="col" class="sort">UTR</th>
                            <th scope="col" class="sort">Remark</th>
                            <th scope="col" class="sort">Date</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for wallet in wallets %}
                        <tr>
                            <td class="budget">
                                {{forloop.counter}}
                            </td>
                            <td>
                                {{wallet.id}}
                            </td>
                            <td>
                                <div class="media-body">

                                    {% if wallet.user.name %}
                                    <span class="name mb-0 text-sm">{{wallet.user.name}} </span>
                                    {% endif %}

                                    {% if wallet.user.email %}
                                    <p class="name mb-0 text-xs">{{wallet.user.email}} </p>
                                    {% endif %}
                                    
                                </div>
                            </td>
                            <td>
                                <span class=""> {{wallet.user.mobile_number}} </span>
                            </td>
                            <td>
                                <span> {{wallet.amount|floatformat:2}} </span>
                            </td>
                            <td>
                                {{wallet.pay_type}}
                            </td>
                            <td>
                                {% if wallet.pay_type == "Widrawal" and wallet.status == "Hold" %}
                                <p class="m-0" >Ac: {{wallet.user.bank.ac}} </p>
                                <p class="m-0" style="font-size: smaller;" >Ifsc: {{wallet.user.bank.ifsc}} </p>
                                <p class="m-0" style="font-size: smaller;" >Bank: {{wallet.user.bank.bank}} </p>
                                <p class="m-0" style="font-size: smaller;" >Name: {{wallet.user.bank.name}} </p>
                                {% endif %}
                            </td>
                            <td>
                                {% comment %} {% if wallet.status == "Success" %}
                                Success
                                {% else %} {% endcomment %}
                                <select class="border-0 walletStatus" data-wallet-id="{{ wallet.id }}">
                                    <option value="Pending" {% if wallet.status == "Pending" %}selected{% endif %}>Pending</option>
                                    <option value="Success" {% if wallet.status == "Success" %}selected{% endif %}>Success</option>
                                    <option value="Hold" {% if wallet.status == "Hold" %}selected{% endif %}>Hold</option>
                                    <option value="Rejected" {% if wallet.status == "Rejected" %}selected{% endif %}>Rejected</option>
                                </select>
                                {% comment %} {% endif %} {% endcomment %}
                            </td>
                            <td>
                                {{wallet.pay_method}}
                            </td>
                            <td>
                                {% if wallet.utr %}
                                {{wallet.utr}}
                                {% endif %}
                            </td>
                            <td>
                                {{wallet.remark}}
                            </td>
                            <td>
                                {{wallet.created_at}}
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>
{% endblock content %}
{% block javascripts %}
    <script>
        $(document).on('change', '.walletStatus', function(e) {
            var wallet_id = $(this).data('wallet-id');
            var new_status = $(this).val();
            var url = "{% url 'update-wallet-status-ajax' %}";
            
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'wallet_id': wallet_id,
                    'new_status': new_status,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        console.log('wallet status updated successfully');
                    } else {
                        console.error('Error updating wallet status:', data.error);
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
