{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} </h3>
                <a href="{% url "add_category" %}" class="bg-success btn float-end">+Add</a>
            </div>
            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table table-hover" id="example1">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="name">SN</th>
                        <th scope="col" class="sort" data-sort="name">Name</th>
                        <th scope="col" class="sort" data-sort="budget">Description</th>
                        <th scope="col" class="sort" data-sort="budget">Number of Products</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for category in categories %}
                    <tr>
                        <td class="budget">
                            {{forloop.counter}}
                        </td>
                        <td>
                            {{category.name}}
                        </td>
                        <td>
                            {{category.description}}
                        </td>
                        <td>
                            {{category.products.count}}
                        </td>
                        <td>
                            <a href="{% url "update_category" category.id %}"><i class="fa fa-edit" title="Update" ></i></a>
                            <i class="fa fa-trash-alt" type="button" data-bs-toggle="modal" href="#deleteCatModal{{category.id}}" style="background:transparent;"></i>
                        </td>
                    </tr>
                     <!-- Modal -->
                    
                    <div class="modal fade" id="deleteCatModal{{category.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{category.id}}">Delete category</h5>

                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{% url 'delete_category' category.id %}">Delete</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- end Model -->
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>
{% endblock content %}
