{% extends 'base/base.html' %}
{% load static %}
{% block bc %}
<li class="breadcrumb-item">Users</li>
{% endblock bc %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">{{title}} </h3>
            </div>
            {% csrf_token %}
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="example1">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="name">SN</th>
                        <th scope="col" class="sort" data-sort="name">Name</th>
                        <th scope="col" class="sort" data-sort="budget">Mobile</th>
                        <th scope="col">Active</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for user in users %}
                    <tr>
                        <td class="budget">
                            {{forloop.counter}}
                        </td>
                        <th scope="row">
                            <div class="media align-items-center">
                            {% comment %} <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="../assets/img/theme/sketch.jpg">
                            </a> {% endcomment %}
                            <div class="media-body">
                                <span class="name mb-0 text-sm">{{user.name}} </span>
                                {% if user.email %}
                                <p class="name mb-0 text-xs">{{user.email}} </p>
                                {% endif %}
                            </div>
                            </div>
                        </th>
                        <td>
                            {{user.mobile}}
                        </td>
                        <td>
                        {% if user.is_active %}
                        <select class="border-0 userStatus" data-user-id="{{ user.id }}">
                            <option value="1" {% if user.is_active %}selected{% endif %}>Yes</option>
                            <option value="0" {% if not user.is_active %}selected{% endif %}>No</option>
                        </select>
                      {% else %}
                       <select class="border-0 userStatus" data-user-id="{{ user.id }}">
                            <option value="1" {% if user.is_active %}selected{% endif %}>Yes</option>
                            <option value="0" {% if not user.is_active %}selected{% endif %}>No</option>
                        </select>
                        {% endif %}
                        </td>
                        <td>
                            {{user.date_joined|date}}
                        </td>
                        <td>
                            <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
                                
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'edit-user' user.id %}">
                                    <i class="fas fa-pen me-2" style="font-size:20px"></i>
                                    Edit
                                </a>
                                <div role="separator" class="dropdown-divider my-1"></div>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'user-orders' user.id %}">
                                    <i class="fas fa-list text-purple me-2" style="font-size:20px"></i>
                                    Orders
                                </a>
                                <div role="separator" class="dropdown-divider my-1"></div>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'user-tnxs' user.id %}">
                                    <i class="fas fa-list text-info me-2" style="font-size:20px"></i>
                                    Transactions
                                </a>
                                <div role="separator" class="dropdown-divider my-1"></div>
                                <a class="dropdown-item d-flex align-items-center" type="button" data-bs-toggle="modal" href="#addressUserModal{{user.id}}">
                                    <i class="fas fa-location-arrow text-info me-2" style="font-size:20px"></i>
                                    Addresses
                                </a>
                                <div role="separator" class="dropdown-divider my-1"></div>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'list_user_cart' user.id %}">
                                    <i class="fas fa-cart-arrow-down me-2" style="font-size:20px"></i>
                                    Cart Items
                                </a>
                                <div role="separator" class="dropdown-divider my-1"></div>
                                <a class="dropdown-item d-flex align-items-center" type="button" data-bs-toggle="modal" href="#deleteUserModal{{user.id}}">
                                    <i class="fas fa-trash text-danger me-2" style="font-size:20px"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>

                    <!-- User Addresses Modal -->
                    <div class="modal fade" id="addressUserModal{{user.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">User Address</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ol>
                                    {% for address in user.addresses.all %}
                                    <li>{{address}}<br></li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- end Model -->
                    
                    <!-- Delete User Modal -->
                    <div class="modal fade" id="deleteUserModal{{user.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete User</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure want to delete ?</p>
                                <p>All user related data also will be deleted like: orders, cart items etc.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{% url 'delete-user' user.id %}">Confirm Delete</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- end Model -->
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>
{% endblock content %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(document).on('change', '.userStatus', function(e) {
            var user_id = $(this).data('user-id');
            var new_status = $(this).val();
            var url = "{% url 'update-user-active-ajax' %}";
            
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'user_id': user_id,
                    'new_status': new_status,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        console.log('User status updated successfully');
                    
                    } else {
                        console.error('Error updating user status:', data.error);
                    }
                }
            });
        });
    </script>
{% endblock javascripts %}
